body {
    background-image: url('../images/alaska.jpg');
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial;
    margin: 0;
}

nav {
    z-index: 9999;
    position: fixed;
    width: 100%;
}

.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}


@keyframes fadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

/** -----NAV----- **/
#mainNav {
    background-color: #5F6E81 !important;
}

#mainNav a {
    color: white;
}

#mainNav a:hover {
    text-decoration: underline;
}

#menu {
    background-color: #5F6E81 !important;
}

#logo img {
    width: 50%;
}

/** -----HEADER----- **/

#wrap header {
    /**background-image: url('../images/alaska.jpg');
    background-position: center;
    background-size: cover;
    border-bottom: 2px solid #8484A4;**/
    height: 300px;
    padding-bottom: 350px;
    text-align: center;
}

#wrap h1 {
    margin-top: 0;
    padding-top: 150px;
}

#wrap h1 a {
    color: white;
    font-size: 1.5em;
    letter-spacing: -2px;
    text-transform: uppercase;
    text-decoration: none;
}

#wrap header h2 {
    color: white;
    font-size: 1em;
    text-transform: uppercase;
}

#separate {
    border-top: 2px solid white;
    width: 5%;
}

@media all and (max-width: 992px) {
    #wrap header {
        padding-bottom: 100px;
    }

    h1 {
        font-size: 1.5em;
    }
}

@media all and (max-width: 576px) {
    body {
        background-position: center;
    }

    #wrap header {
        padding-bottom: 300px;
    }

    h1 {
        font-size: 1.5em !important;
    }
}

/** -----CONTENT----- **/

#content-wrap {
    /**background-color: #D6C4B5;**/
    padding-left: 100px;
    padding-right: 100px;
}

#main {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
    border-radius: 1% 3% 5% 7%;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 50px;
}

#main h2 {
    padding-left: 35px;
    padding-top: 25px;
}

#main h2 a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#main a {
    text-decoration: none;
    color: white;
}

#main p {
    color: white;
    margin-left: 50px;
    margin-right: 100px;
    padding: 5px;
    text-align: justify;
}

.btn-primary {
    background-color: #4E6C82 !important;
    border-color: #4E6C82 !important;
    margin-bottom: 10px;
    margin-left: 100px;
}

.btn-primary:hover {
    background-color: #5F6E81 !important;
}

.btn-primary a {
    text-decoration: none;
    color: white;
}

.btn-primary a:hover {
    text-decoration: none;
    color: white;
}

#hr {
    border-top: 2px solid #5F6E81;
}

#newsList {
    padding-left: 10%;
}

#newsList th, td{
    padding-left: 25px;
}

#newsList th {
    padding-bottom: 25px;
}

@media all and (max-width: 992px) {

    #content-wrap {
        padding-left: 25px;
        padding-right: 25px;
    }

    #main p {
        margin-bottom: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .btn-primary {
        margin-left: 50px;
    }

    #newsList {
        padding: 0;
    }

    #newsList th, td {
        padding-left: 0;
    }
}

@media all and (max-width: 576px) {
    #content-wrap {
        padding-left: 5px;
        padding-right: 5px;
    }

    #main h2 {
        padding-left: 15px;
    }

    .btn-primary {
        margin-left: 10px;
    }
}


/** ----- FORM ----- **/

label {
    display: block;
    width: 70px;
}

fieldset {
    padding-left: 50px !important;
}

legend {
    font-size: 1em !important;
    padding-top: 50px !important;
}

.tox-tinymce {
    height: 350px !important;
}

@media all and (max-width: 576px) {
    fieldset {
        padding-left: 10px !important;
    }

    th, td {
        font-size: 0.7em;
    }
}

/** -----REPORT----- **/
#report {
    padding-bottom: 75px;
    padding-top: 50px;
}

/** -----FOOTER----- **/

footer {
    /**background-color: #D6C4B5;**/
    color: white;
    font-size: 0.8em;
    height: 50px;
    margin-top: 50px;
    text-align: center;
}

#footer {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 100%;
}

#footer a {
    text-decoration: none;
    color: white;
}

.social {
    font-size: 2em;
    padding-left: 25%;
}

.infos {
    margin: auto;
    padding-right: 25%;
}

@media all and (max-width: 576px) {
    .social {
        padding-left: 5%;
    }

    .infos {
        padding-right: 5%;
    }
}